.container{
    margin: 20px;
    width: 50%;
    border: 1px solid black;
    box-shadow: 0px 4px 32px 1px #734637cc;
}
.headerContainer{
    width: 100%;
    background-color: black;
    margin:0
}
.topHeader{
    font-size: 18;
    font-weight: 500;
    padding: 20px;
    color: white;
    text-align: center;
    margin:0
}
.fieldContainer{
    padding: 20;
    justify-content: center;
    align-items: center;
}

.fieldSection{
    padding: 20px;
    background-color: aliceblue;
}
.inputFiledContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
#country-select{
    width: 200px;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6%;
  }